.landing-section {
    padding: 15rem 4rem;
}

.hero__row, .random-brewery__row, .find-brewery__row {
    gap: 3rem;
}

.hero__title, .random-brewery__title, .find-brewery__title {
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
}

.hero__para, .random-brewery__para, .find-brewery__para {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    line-height: 2.25rem;
}

.hero__btn, .random-brewery__btn, .find-brewery__btn {
    padding: 0.75rem 1.75rem;
    font-size: 1.25rem;
}


/*

    HERO SECTION

*/
.hero__image--wrapper {
    flex: 0.4;
}

.hero__description {
    flex: 0.6;
}


/*

    RANDOM BREWERY SECTION & FIND BREWERY SECTION

*/

.random-brewery__image--wrapper, .find-brewery__image--wrapper {
    flex: 0.5;
}

.random-brewery__description,
.find-brewery__description {
    flex: 0.5;
}