.landing-section {
    padding: 15rem 4rem;
}

.landing__row {
    gap: 3rem;
}

.landing__title {
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
}

.landing__para {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    line-height: 2.25rem;
}

.landing__link {
    padding: 0.75rem 1.75rem;
    font-size: 1.25rem;
    text-decoration: none;
}

.landing__image--wrapper, .landing__description {
    flex: 0.5;
}

.landing__description,
.landing__image--wrapper {
    transition: all var(--animation-duration) ease;
}

@media (max-width: 992px) {
    .landing__title {
        font-size: 2rem;
    }

    .landing__para, .landing__link {
        font-size: 1rem;
    }

}

@media (max-width: 768px) {
    .landing-section {
        padding: 8rem 2rem;
    }

    .landing__row {
        flex-direction: column;
    }
    .landing__image--wrapper,
    .landing__description {
        flex: unset;
    }

    .landing__description {
        text-align: center;
    }
    
}