.dark-outline-on-focus:focus-visible {
    outline-color: var(--dark-color);
}

.light-outline-on-focus:focus-visible {
    outline-color: var(--light-color);
}

.dark-outline-on-focus:focus-visible,
.light-outline-on-focus:focus-visible {
    outline-width: 3px;
    outline-style: solid;
    outline-offset: 3px;
}
